@{
	Layout = "_InstructorLayout";
}

@* <div>
	<a target="_blank" href="https://drive.google.com/file/d/1JZTqsiubgv93GgiSzzLOg42RPGxOnKlP/view?usp=sharing" class="btn btn-md btn-primary" style="display: block; width: fit-content; margin: auto; margin-top: 35px; text-decoration: none;">
		<input type="button" value="Course Topics" style="border: none; background-color: transparent; color: white; cursor: pointer;">
	</a>
	<a target="_blank" href="https://drive.google.com/file/d/1ojdc_RVmXAOfnlXQnwB-mHT7E4Jgldwg/view?usp=sharing" class="btn btn-md btn-primary" style="display: block; width: fit-content; margin: auto; margin-top: 35px; text-decoration: none;">
		<input type="button" value="Department Students" style="border: none; background-color: transparent; color: white; cursor: pointer;">
	</a>
	<a target="_blank" href="https://drive.google.com/file/d/1x0ClhC31ZdTefWc2DzhvGCdSQj8G7pNA/view?usp=sharing" class="btn btn-md btn-primary" style="display: block; width: fit-content; margin: auto; margin-top: 35px; text-decoration: none;">
		<input type="button" value="Exam Questions" style="border: none; background-color: transparent; color: white; cursor: pointer;">
	</a>
	<a target="_blank" href="https://drive.google.com/file/d/1xsKXr0UYtlhHAUd7CbPyElj-mTX7MFrJ/view?usp=sharing" class="btn btn-md btn-primary" style="display: block; width: fit-content; margin: auto; margin-top: 35px; text-decoration: none;">
		<input type="button" value="Instructor Courses" style="border: none; background-color: transparent; color: white; cursor: pointer;">
	</a>
	<a target="_blank" href="https://drive.google.com/file/d/1nXqmdmLIHO3uYlxZalrNhOv19x3qyucp/view?usp=sharing" class="btn btn-md btn-primary" style="display: block; width: fit-content; margin: auto; margin-top: 35px; text-decoration: none;">
		<input type="button" value="Student Exam Answers" style="border: none; background-color: transparent; color: white; cursor: pointer;">
	</a>
	<a target="_blank" href="https://drive.google.com/file/d/1mX6ivv8qSJ3LQ9I5NMhF2wKLZY548vC5/view?usp=sharing" class="btn btn-md btn-primary" style="display: block; width: fit-content; margin: auto; margin-top: 35px; text-decoration: none;">
		<input type="button" value="Student Grades" style="border: none; background-color: transparent; color: white; cursor: pointer;">
	</a>
</div> *@
@* <h1>Sample reports</h1>
 *@@*  <div>
	<a target="_blank" href="https://drive.google.com/file/d/1JZTqsiubgv93GgiSzzLOg42RPGxOnKlP/view?usp=sharing" class="btn btn-md btn-primary" style="display: block; width: fit-content; margin: auto; margin-top: 35px; text-decoration: none;">
		<input type="button" value="Course Topics" style="border: none; background-color: transparent; color: white; cursor: pointer;">
	</a>
	<a target="_blank" href="https://drive.google.com/file/d/1ojdc_RVmXAOfnlXQnwB-mHT7E4Jgldwg/view?usp=sharing" class="btn btn-md btn-primary" style="display: block; width: fit-content; margin: auto; margin-top: 35px; text-decoration: none;">
		<input type="button" value="Department Students" style="border: none; background-color: transparent; color: white; cursor: pointer;">
	</a>
	<a target="_blank" href="https://drive.google.com/file/d/1x0ClhC31ZdTefWc2DzhvGCdSQj8G7pNA/view?usp=sharing" class="btn btn-md btn-primary" style="display: block; width: fit-content; margin: auto; margin-top: 35px; text-decoration: none;">
		<input type="button" value="Exam Questions" style="border: none; background-color: transparent; color: white; cursor: pointer;">
	</a>
	<a target="_blank" href="https://drive.google.com/file/d/1xsKXr0UYtlhHAUd7CbPyElj-mTX7MFrJ/view?usp=sharing" class="btn btn-md btn-primary" style="display: block; width: fit-content; margin: auto; margin-top: 35px; text-decoration: none;">
		<input type="button" value="Instructor Courses" style="border: none; background-color: transparent; color: white; cursor: pointer;">
	</a>
	<a target="_blank" href="https://drive.google.com/file/d/1nXqmdmLIHO3uYlxZalrNhOv19x3qyucp/view?usp=sharing" class="btn btn-md btn-primary" style="display: block; width: fit-content; margin: auto; margin-top: 35px; text-decoration: none;">
		<input type="button" value="Student Exam Answers" style="border: none; background-color: transparent; color: white; cursor: pointer;">
	</a>
	<a target="_blank" href="https://drive.google.com/file/d/1mX6ivv8qSJ3LQ9I5NMhF2wKLZY548vC5/view?usp=sharing" class="btn btn-md btn-primary" style="display: block; width: fit-content; margin: auto; margin-top: 35px; text-decoration: none;">
		<input type="button" value="Student Grades" style="border: none; background-color: transparent; color: white; cursor: pointer;">
	</a>
</div>  *@


<div class="main-content app-content mt-0">
	<div class="side-app">

		<!-- CONTAINER -->
		<div class="main-container container-fluid">

			<!-- PAGE-HEADER -->
			<div class="page-header">
				<h1 class="page-title"> Reports </h1>

			</div>
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table border text-nowrap text-md-nowrap table-striped mb-0 table-hover " style="text-align:center">
							<thead>
								<tr>
									<th style="font-weight:bold; font-size:large">Report Builder Reports</th>
									<th style="font-weight:bold; font-size:large">Example Reports (pdf)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<a target="_blank" href="https://drive.google.com/file/d/1JZTqsiubgv93GgiSzzLOg42RPGxOnKlP/view?usp=sharing" class="btn  btn-md btn-primary" style="width:180px">
											Course topics
										</a>
									</td>
									<td>
										<a target="_blank" href="https://drive.google.com/file/d/1tzMXN6wAOTqqGl2PUEruuOBx1W0KHG-L/view?usp=sharing" class="btn  btn-md btn-primary" style="width:180px">
											Course topics
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a target="_blank" href="https://drive.google.com/file/d/1ojdc_RVmXAOfnlXQnwB-mHT7E4Jgldwg/view?usp=sharing" class="btn  btn-md btn-primary " style="width:180px">
											Department Students
										</a>
									</td>
									<td>
										<a target="_blank" href="https://drive.google.com/file/d/1rwjC9wdvmcVylVk2WG8oxpAprcTUw6I7/view?usp=sharing" class="btn  btn-md btn-primary" style="width:180px">
											Department Students
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a target="_blank" href="https://drive.google.com/file/d/1x0ClhC31ZdTefWc2DzhvGCdSQj8G7pNA/view?usp=sharing" class="btn  btn-md btn-primary" style="width:180px">
											Exam Questions
										</a>
									</td>
									<td>
										<a target="_blank" href="https://drive.google.com/file/d/11cL8g1WlFeMl--zexvghF6FpY-OYadWf/view?usp=sharing" class="btn  btn-md btn-primary" style="width:180px">
											Exam Questions
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a target="_blank" href="https://drive.google.com/file/d/1xsKXr0UYtlhHAUd7CbPyElj-mTX7MFrJ/view?usp=sharing" class="btn  btn-md btn-primary" style="width:180px">
											Instructor Courses
										</a>
									</td>
									<td>
										<a target="_blank" href="https://drive.google.com/file/d/1fCJ6IJmL0V6JKAx6HGILfPt702j9T_bk/view?usp=sharing" class="btn  btn-md btn-primary" style="width:180px">
											Instructor Courses
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a target="_blank" href="https://drive.google.com/file/d/1nXqmdmLIHO3uYlxZalrNhOv19x3qyucp/view?usp=sharing" class="btn  btn-md btn-primary" style="width:180px">
											Student Exam Answers
										</a>
									</td>
									<td>
										<a target="_blank" href="https://drive.google.com/file/d/1zbLCpRMITGYdZsS1KM_Gzng1t9p3v19i/view?usp=sharing" class="btn  btn-md btn-primary" style="width:180px">
											Student Exam Answers
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<a target="_blank" href="https://drive.google.com/file/d/1mX6ivv8qSJ3LQ9I5NMhF2wKLZY548vC5/view?usp=sharing" class="btn  btn-md btn-primary" style="width:180px">
											Student Grades
										</a>
									</td>
									<td>
										<a target="_blank" href="https://drive.google.com/file/d/1pmTK3UhFNSRIeOS1ZV0OQ80Fk-rnC9Sz/view?usp=sharing" class="btn  btn-md btn-primary" style="width:180px">
											Student Grades
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
